
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% block BootLink %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <style>
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: darksalmon;
        color: white;
        text-align: center;
      }
      </style>
    
  </head>
  <body>
    
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand btn" style="color: black;" href="{% url 'home' %}"><button>Home</button></a>
        </div>
    
        <form class="navbar-form navbar-left" action="{% url 'search' %}" method="get">
          <div class="form-group">
            <input type="search" class="form-control" placeholder="Search" name="query">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    
        <ul class="nav navbar-nav navbar-right">
          {% if request.session.user %}
            <li class="dropdown"><a style="color: #fcf8f7;" class="dropdown-toggle" data-toggle="dropdown" href="#">@{{request.session.user}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'profile' request.session.user %}">Profile</a></li>
                <li><a href="{% url 'upload_file' request.session.user %}">Upload File</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
    
           {% else %} 
            <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
      

    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    {% endfor %}
    {% endif %}

    
      
    

    
    {% block body %}{% endblock %}

  
    <div class="footer">
      <p>Copyright © 2021 Ram Lakhan Singh All Right Reserved</p>
  </div>
    


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>